<div class="center jumbotron">
  <h1>Business Intelligence</h1>
  <h3>Inteligencia para los negocios</h3>
  <div>
    <%= link_to "Registrate", registrarse_path, class: "btn btn-lg btn-primary", id: "bot_registrarse" %>
  </div>
  <div class="tareas">Desde acá podés:
    <ul>
    <li><%= link_to 'Cargar cliente', cliente_path, class: "btn btn-lg btn-secondary" %></li>
    <li><%= link_to 'Cargar visita', visita_path, class: "btn btn-lg btn-secondary" %></li>
    </ul>
  </div>
</div>
