<% provide(:title, "Business Intelligence") %>
<h1>Business Intelligence de Macher IT</h1>
<h3>Inteligencia para los negocios</h3>
<div>Desde acá podés:
  <ul>
    <li>Registrar una visita a un cliente <a class="button" href="#">Registrar</a></li>
  </ul>
</div>
