<h1>Macher Business Intelligence</h1>

<p>
  <%= @greeting %>, <%= @user.name %>.
</p>
<p>
  Para activar tu cuenta, hacé clic en el siguiente enlace:
</p>
<%= link_to "Activar", edit_account_activation_url(@user.activation_token, email: @user.email) %>
