
<footer class="footer row">
  <div class="small col-md-6">
    <%= link_to image_tag("macher.png", alt: "Logo de Macher IT"), 'http://macherit.com' %>
  </div>
  <div class="col-md-6">
    <ul>
      <li><%= link_to "Ayuda", ayuda_path %>
      <li><%= link_to "MacherIT.com", 'http://macherit.com' %></li>
    </ul>
  </div>
</footer>
